#watch{
    border-style: solid;
    width: 600px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#timer{
    font-size: 80px;
    font-weight:bolder;
    font-family:monospace;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-content: space-around;
     margin-left: 37px;
}
.all{
    margin-right: 25px;
    font-size: 25px;
    border-radius: 10px;
    border-style: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease; 
}
#start{
background-color: green;
}
#stop{
    background-color: red;
}
#reset{
        background-color: rgb(38, 0, 253);
    }
.all:hover {
    transform: scale(1.1); 
      }
 .all:active {
        transform: scale(0.95); /* Scale the button when clicked */
      }
