#day{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0px;
}

#day{
    
        color: #fff; /* Set the text color to white */
        text-shadow:
          0 0 4px #0f0,  /* Inner green shadow */
          0 0 10px #0f0, /* Green glow */
          0 0 20px #0f0,
          0 0 30px #0f0,
          0 0 0px #0f0; 
}